<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<meta name="google-site-verification" content="tZMDpNHSkixfjmOI8u1AcMZcknVr2XGidJQXolzu6_Q" />
	<meta property="og:title" content="Bet on Brazil" />
	<meta property="og:url" content="https://betonbrazil.com/" />
	<meta name="theme-color" content="#ffffff">

	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/quill/0.20.1/quill.base.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/quill/0.20.1/quill.snow.css" />

	<script src="<%= htmlWebpackPlugin.options.config %>"></script>

</head>
<body>

<div id="scrollbar-measure"></div>
<section id="body-content"></section>
<aside id="modal-content"></aside>

</body>
</html>
